<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">

            <h3><%= link_to "TDD Rails", "/" %></h3>
        </div>
        <ul class="list-unstyled components">
          <% if logged_in? %>
          <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mon Compte</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                      <%= link_to "In Da Club", "/the-private-club" %>
                    </li>
                    <li>
                        <%= link_to "Profile", current_user %>
                    </li>
                    <li>
                        <%= link_to "Settings", edit_user_path(current_user) %>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <%= link_to "Log out", logout_path, method: :delete %>
                    </li>
                </ul>
            </li>
            <% else %>
              <p><li><%= link_to "Sign up", new_user_path %></li> <li><%= link_to "Log in", login_path %></li></p>
            <% end %>
        </ul>
    </nav>

</div>
